.carrito-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: flex-end;
  z-index: 2000;
}

.carrito-container {
  background-color: rgb(155, 238, 144);
  width: 300px;
  max-height: 100%;
  overflow-y: auto;
  padding: 20px;
  box-shadow: -20px 0 10px rgba(255, 251, 8, 0.3);
}

.carrito-lista {
  list-style: none;
  padding: 0;
  margin: 0;
}

.carrito-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
